{% extends "templates/base.html" %}

{% block content %}

  
  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>
  <div class="row bg-default">
    <div class="col-xl-12 bg-default">
      <div class="card-body home">
        <div class="col-xl-5">
          <img src="static/assets/img/logo.png" width='90%'/>
        </div>
      </div>
    </div>
  </div>

<script>
  window.onload = function () {
    windowOnLoad();

  };

</script>


{% endblock %}